a {
    cursor: pointer;
}

body {
    /* padding: 2em; */
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
}

input:active {
    border-color:red;
}

.btn-cangaco {
    background: #F44336;
    border-color: #F44336;
    color: #fff;
}

.btn-cangaco:focus {
    color: #fff;
    border-color: #F44336;
    box-shadow: 0 0 2px  #F44336;
}

.btn-default:focus {
    border-color: #dfc532;
    box-shadow: 0 0 2px  #dfc532;
}